@import "materialize";
$logo_font: 'Dancing Script', cursive !important;

$text_font: 'Titillium Web', sans-serif !important;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: $text_font;

  }

main {
    flex: 1 0 auto;
}

    .alert-success {
       visibility: hidden
    }

nav {

    margin-bottom: 1em;
    background-color: #f2f2f2 !important;

    .brand-logo  {
        font-family: $logo_font;
      color: #007fb5 !important;
      margin-left: 1em;

      /*text-decoration: none;*/
    }

    .button-collapse {
        color: #007fb5 !important;
    }

    .brand-logo:hover {
         text-decoration: none;
    }

    ul {
        a {
            color: #007fb5 !important;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

.city_show {
    div {
        div {
            p {
                font-size: 1em;
                span{
                    padding-top: 1em;
                    font-size: 2em;
                }
                padding-bottom: 2em;
            }
        }
    }
    .city_posts {
        div {
            div {
                img {
                    max-width: 200px;
                    max-height: 120px;
                    min-height: 120px;
                    min-width : 200px;
                }
            }
            div {
                p {
                    font-size: 1.2em;
                }
            }
        }
    }

}

.slider {
    img {
    opacity: 0.8;
    }

    h3 {
    font-family: $logo_font;
    }
}



footer {
    border-top: 1px solid black;
    color: #007fb5;
    padding-bottom: 0.5em;
    /*flex: 3;*/

    /*position: absolute;*/
    /*bottom: 0;*/
}

