@import "materialize";
/*$logo_font: 'Dancing Script', cursive !important;*/
$logo_font: 'News Cycle', sans-serif !important;

$text_font: 'Titillium Web', sans-serif !important;

$text_color: #007fb5 !important;

$off_white: #f2f2f2 !important;

$text_shadow: 1px 1px 3px grey;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: $text_font;

  }

main {
    flex: 1 0 auto;
}

.alert-success {
   visibility: hidden
}

.delete_user_text {
    color: red !important;
}

.delete_user_account {
    padding: 1em 0;
}

nav {

    margin-bottom: 1em;
    background: $off_white;

    .brand-logo  {
        font-family: $logo_font;
      color: $text_color;
      margin-left: 1em;

      /*text-decoration: none;*/
    }

    .button-collapse {
        color: $text_color;
    }

    .brand-logo:hover {
         text-decoration: none;
    }

    ul {
        a {
            color: $text_color;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

.login-form {
    margin-top: 2em;
    float: none;

    .z-depth-4 {
        padding: 2em;
    }

    div {
        float: none;
        margin: 0 auto;
    }
}


.btn-custom {
    background: $text_color;
}

.slider {
    img {
    opacity: 0.8;
    }

    h3 {
    font-family: $logo_font;
    }
}

.city_index_desc {
    text-indent: 40px;
    margin: 1em 0;
    font-size: 1.5em;
    text-align:justify;
    text-justify:inter-ideograph;
    text-shadow: $text_shadow;
}

.delete_icon {
    color: red;
    border-radius: 50%;
}

.city_title {
    font-size: 1.8em;
    text-shadow: $text_shadow;
}

.city_post_title {
    /*margin: 2em 0 1em;*/
    font-size: 1.8em;
    /*border-bottom: 1px dotted grey;*/
    @extend .city_title;
}

.city_show_desc {
    /*text-shadow: none;*/
    @extend .city_index_desc;
}

.post_show {
    margin-bottom: 1em;
    padding: 1em;
}

.user_post_show {
    border-bottom: dashed 1px grey;
    /*@extend .post_show;*/
}

.user_bio {
    margin: 2em 0;
}

.user_last_seen {
    padding-top: 0.5em;
}

.post_desc {
    /*height: 100px;*/
    width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*padding-left: 2em;*/
}

.pagination {
    font-size: 1.2em;
}

a:hover {
        text-decoration: none !important;
    }

.user_created {
    padding-top: 0;
}


.edit_icon {
    color: green;
    border-radius: 50%;
}

.location_name, .quote {
    margin-top: 6.4em;
    a{
       color: white !important ;
       text-shadow: $text_shadow;
    }

    a:hover {
       color: $text-color;

    }
}

.location_heading {
    text-shadow: $text_shadow;
    padding-bottom: 0.6em;
    /*border-bottom: 1px solid black;*/
    /*font-family: $text_font;*/
}



footer {
    border-top: 1px solid black;
    color: $text_color;
    padding-bottom: 0.5em;
    background : $off_white;
    margin-top: 1em;
    font-family: $logo_font;
}

