

<h1>Edit Post</h1>




<%= form_for @post, url: city_post_path(id: @post.id, city_id: @post.city_id) do |f| %>
  Title: <%= f.text_field :title, :required => true %><br />
  Content : <%= f.text_field :content, :required => true %><br />

  <%= f.submit 'Update Post' %>
<% end %>
