

<h1>Edit Post</h1>




<%= form_for city_post_path, :method => :PATCH do |f|%>
  Title: <%= f.text_field :title %><br />
  Content : <%= f.text_field :content %><br />

  <%= f.submit 'Update Post' %>
<% end %>
