<h1>Cities#show</h1>
<p>Find me in app/views/cities/show.html.erb</p>

<%= @city.title %>
<ul>
<% @posts.each do |post| %>
    <li><%= post.title %></li>
    <li><%= post.content %></li>
    <li> <%= post.created_at %></li>
<% end %>
</ul>
